<h3></h3>

<form action="" method="" >
    <table>
        <tr>
            <td>
                Name : 
            </td>
            <td>
                {{todo.name}}
            </td>
        </tr>
        <tr>
            <td>
                description :
            </td>
            <td>
                {{todo.description}}
            </td>
        </tr>
        <tr>
            <td>
                Status : 
            </td>
            <td>
                {{todo.status}}
            </td>
        </tr>
        <tr>
            <td>
                <a href="/delete/{{todo._id}}/{{userId}}">delete</a>
            </td>
            <td>
                <a href="/todolist/{{userId}}">cancel</a>
            </td>
        </tr>
        <tr>

        </tr>
    </table>
</form>
<h5>Comments : </h5>

<form action="/comments/{{todo.id}}/{{userId}}" method="post">
    <table>
        <tr>
            <td>
                <input type="text" name="comments"/>
            </td>
            <td>
                <button type="submit">Add</button>
            </td>
            
        </tr>
    </table>
</form>

<form action="" method="">
    <ol>
        {{#each comments}}
        <li>
            {{this.text}} <a href="/commentDelete/{{../todo._id}}/{{this._id}}/{{../userId}}" >delete</a> &nbsp; {{this.time}}
        </li>
        {{/each}}
    </ol>
</form>