<h3>To Do List</h3>
<br>
<form action="/create/{{userId}}" method="post">
    <table>
        <tr>
            <td>
                <button type="submit">create</button>
            </td>
                
            <td>
                <a href="/logout" >Logout</a>
            </td>
        </tr>
    </table>
</form>

<form action="edit/{{this.name}}" method="post">
    <ol>
        {{#each todo}}
            <li>
                {{!-- {{#status this.status}}
                <a href="/display/{{this._id}}" style="text-decoration: line-through;" >
                    {{this.text}}
                </a>
                {{else}}
                <a href="/display/{{this._id}}" >
                    {{this.text}}
                </a>
                {{/status}} --}}
                <a href="/display/{{this._id}}/{{userId}}" >
                    {{this.name}}
                </a>
                &nbsp;
                <a href="/edit/{{this._id}}/{{userId}}" >
                    edit
                </a>
                &nbsp;
                 {{!-- <a href="/delete/{{this.id}}">
                    delete
                </a> --}}
            </li>
            <br>
        {{/each}}
    </ol>

</form>